
#lists{
    

background-image: url('../images/pic5.jpg');
width:101.2%;
background-size: cover;
height:101%;
margin-top: -1em;
margin-left: -0.5em;


        
}
#logo{
    
    width:9.5%;
}

#wel{
    
    background-color:#B0171F;
    padding:0.4em;
    width:200px;
}

#message{
    
color: white;
padding-top:3em;
background: rgba(0,0,0,0.8);
padding-top:10em;
width: 100%;
height:104.5%;
margin-top: -9em;
    
}
.me{
    
   font-size: 3.5em; 
}
#me{
    
        
   color: #B0171F;
   
}
.para{
    
    font-size: 1.5em;
}
ul a{
    
     text-decoration: none; 
     color:white;
    list-style-type: none;
}
li a{
    
    padding:1em;
}

li a:hover{
    text-decoration: none;
    background-color: #B0171F;
}
#li{
    
    margin-top: 5em;
    margin-left: 70%;
}
ul li{
    
   list-style-type: none;
   display: inline;
    padding-left: 5em;
    float: right;
    margin-top: 2em;
    margin-right: 2em;
   
}

body{
    
    font-family: Century Gothic;
}


@media only screen and (max-width : 480px){
    
    #logo{
        
       width: 20%;
        margin-top: -2em;
    }
    .me{
        
        font-size:2em;
        margin-top: 1em;
    }
    #me{
    
    font-size:3em;
   
}
    #message{
        
        
    }
    

#lists{
    

background-image: url('../images/pic5.jpg');
width:101.2%;
background-size: cover;
height:101%;
margin-top: -0.9em;
margin-left: -0.2em;


        
}
#logo{
    
    width:9.5%;
   
}

#wel{
    
    background-color:#B0171F;
    padding:0.4em;
    width:200px;
}

#message{
    
color: white;
padding-top:6em;
background: rgba(0,0,0,0.8);
padding-top:10em;
width: 100%;
height:102.5%;
margin-top: -8em;
    
}
.me{
    
   font-size: 3.5em; 
}
#me{
    
        
   color: #B0171F;
   
}
.para{
    
    font-size: 2.0em;
}
ul a{
    
     text-decoration: none; 
     color:white;
    
}
li a{
    text-decoration: none; 
    padding:1em;
}

li a:hover{
   text-decoration: none; 
    background-color: #B0171F;
}
#li{
    text-decoration: none; 
    margin-top: 5em;
    margin-left: 70%;
}
ul li{
    
   text-decoration: none; 
   display: inline;
    padding-left: 0.1em;
    float: right;
    margin-top: 2em;
    margin-right: 2em;
   
}

body{
    
    font-family: Century Gothic;
}


.modal-body .form-horizontal .col-sm-2,
.modal-body .form-horizontal .col-sm-10 {
    width: 100%
}

.modal-body .form-horizontal .control-label {
    text-align: left;
}
.modal-body .form-horizontal .col-sm-offset-2 {
    margin-left: 15px;
}

@media only screen and (max-width : 480px){
    
    #logo{
        
       width: 20%;
        margin-top: -2em;
    }
    .me{
        
        font-size:2em;
        margin-top: 1em;
    }
    #me{
    
    font-size:3em;
   
}
    #message{
        
        
    }

}